{
    "trailingComma": "all",
    "tabWidth": 4,
    "semi": false,
    "singleQuote": false,
    "plugins": ["@trivago/prettier-plugin-sort-imports"],

    "importOrder": [
        "\\$app\\/(.*)$",
        "\\$env\\/(.*)$",
        "\\$lib\\/(.*)$",
        "^[./]"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true
}
